
.navigation{ 
    width:  100%;
    height: 7rem;
    padding: 0%;
   background-color:var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
 }

 .navigation__title {  
    font-family:var(--font-family-primary);
    font-size:var(--font-size-medium); 
    padding-left: 1rem;
    display: flex;
    gap: 3rem;
   }

 .navigation__sign-in-button span{  
font-family:var(--font-family-secondary);
   font-size:var(--font-size-xsmall);
  
 }

 .navigation__sign-in-button{ 
   padding-right: 1rem;
}


.header{ margin-top: 3rem;
    font-family:var(--font-family-secondary);
      font-size:var(--font-size-small);
      font-weight: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
     
   form { font-family:var(--font-family-secondary);
    font-size: var(--font-size-small);
    margin-top: 1.8rem;  
    padding-top: 1.3rem;
    padding-left: 0.5rem;
    
   }

   label { 
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 0.30rem;
      padding-left: 1rem;
      width: 15rem;
   }

   main{
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      align-content: space-between;
   }

   .checkbox {
     font-size:var(--font-size-xsmall);
     width: 15.625rem;
     margin-top: 1rem;
     margin-left: 1.5rem;
   }

   .submit-button{ 
         margin-left: 1.5rem;
         margin-top: 1rem;
      }
   .box { margin-top: 3.75rem;
       width: 15.625rem;
       }
      
   .box__content{
      font-size: var(--font-size-small);
      padding: 2rem 2rem;
      margin-bottom: 11.25rem; 
      text-align: center;
      background-color: var(--color-tertiary); 
   }

   .information-help-button {  
      position: relative;
      float: right; 
   }

   footer{ 
      width:  100%;
      height: 3rem;
      padding: 0%;
      background-color:var(--color-secondary);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      padding-right: 1rem;
   }

    @media screen and (min-width: 940px) {
       main{ display: flex;
            flex-direction: row; 
            align-content: space-between;
           gap: 12.5rem;
          } 
        
      .box__content{ font-size:var(--font-size-medium);
         }

         .box{ 
            width: 28.125rem;
            margin-bottom: 8rem;
          }
.submit-button { 
    margin-bottom: 0.625rem;}
            }
